{#
/**
 * @file
 * Template to wrap the output of the menu.
 *
 * Available variables:
 * - content: The menu content to be rendered.
 */
#}

<div class="wrapper cf">
   <nav id="main-nav">
     {{ content }}
   </nav>
   <a class="toggle" href="#">
     <span></span>
   </a>
</div>
         
     